:root{
    --color-one: #F9DBBA;
    --color-two: #5B99C2;
    --color-three: #1A4870;
    --color-four: #1F316F;
    background-color: var(--color-one);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    height: 100%;
}

#add-book-dialog {
    background-color: var(--color-two);
    border: none;
    border-radius: 15px;
}

#add-book-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
}

input {
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=checkbox] {
    border: none;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: var(--color-one);
    border: none;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}

#heading-div {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

#body-div {
    width: 100vw;
    display: flex;
    gap: 10px;
}

#sidebar {
    min-width: 20%;
    background-color: var(--color-two);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
}

#bookshelf {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}    

.book {
    background-color: var(--color-three);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 15px;
}

.title {
    justify-self: flex-start;
}

.book-attribute-wrapper {
    display: flex;
    gap: 10px;
}

.book-attribute-wrapper-btns {
    display: flex;
    gap: 10px;
}